<%= render 'layouts/common_header' %>

<div class="text-center">
  <div class=""><%= image_tag('logo.png', size: '350x300') %></div>
</div>
<h1 class="text-center"><a class="text-primary">LEI</a>✖<a class="text-danger">PLA</a>へようこそ<a class="text-success">♪</a>️</h1>
<h4 class="text-center">ここは、ゲームのおすすめBGM🎵を投稿して共有し合うゲームレビューサイト🎮です。</h4>



<%= render 'layouts/footer' %>