<%= render 'layouts/admin_header' %>

<h2>ユーザー名</h2>
<%= @user.name %>


<h2>ユーザー画像</h2>
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image, size: '320x240'  %>
  <% end %>

<h2>メールアドレス</h2>
<%= @user.email %>

