<li>
  <%= link_to user_homes_top_path, class: "nav-link text-dark" do %>
    <span>トップページ</span>
  <% end %>
</li>
<li>
  <%= link_to user_session_path, class: "nav-link text-dark" do %>
    <span>ログインページ</span>
  <% end %>
</li>
<li>
  <%= link_to new_user_registration_path, class: "nav-link text-dark" do %>
    <span>新規登録ページ</span>
  <% end %>
</li>
<li>
  <%= link_to user_homes_top_path, class: "nav-link text-dark" do %>
    <span>ゲストログイン</span>
  <% end %>
</li>
